.container{
	padding-top: 350px;
	text-align: center;
}
.bi{
	margin-left: 30px;
	font-size: 100px;
	color: green;
}
i:first-child {
	margin-left: 0; 
}
.red{
	color: red;
}
.black{
	color: black;
}
.blue{
	color: blue;
}
.orange{
	color: orange;
}